.ThemeSwitch {
  margin-right: auto;

  height: 3.2rem;
  width: 6rem;
  border-radius: 2rem;
  transition: background-color 0.3s;
  border: 1px solid rgba(120, 120, 120, 0.5);

  .sun-moon {
    transition-property: transform, margin-left;
    transition-duration: 0.7s;
    --size: 2rem;

    background-color: rgb(255, 200, 0);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: relative;
  }

  .cutout {
    --size: 1.7rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -18%;
    transition-property: opacity, background-color;
    transition-duration: 0.6s;

    position: absolute;
  }

  &.light {
    background-color: skyblue;

    .sun-moon {
      margin-left: 0;
    }

    .cutout {
      background-color: skyblue;
      opacity: 0;
      transition-duration: 0.2s;
    }
  }

  &.dark {
    background-color: midnightblue;

    .sun-moon {
      transform: rotate(540deg);
      margin-left: calc(100% - 2rem);
    }

    .cutout {
      background-color: midnightblue;
      opacity: 1;
      transition-delay: 0.1s;
      transition-duration: 0.3s;
    }
  }
}