.NotFound {
    .content {
        flex-grow: 1;
        max-width: 56rem;
        flex-grow: 1;
        align-self: center;
        display: flex;
        flex-direction: column;
        padding: 4rem 0;
    }
    .header {
        font-size: 3.2rem;
    }
}
