.DrumKit-outer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  box-sizing: border-box;
  max-height: 60rem;

  .drum-button {
    --size: 7.5rem;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    color: white;
    border-radius: 50%;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  .pressed {
    background-color: rgb(200, 200, 200) !important;
  }

  .drum-key {}

  .drum-name {
    text-overflow: clip;
  }

  .animated {
    transition: transform cubic-bezier(0.57, 2.06, 0.25, 1) 0.2s;

    &.animating {
      transition: transform cubic-bezier(0.57, 2.06, 0.25, 1) 0.2s;
    }

    &#Anim-TomMid {
      transform: scaleX(1) scaleY(1) rotate(0deg);
      transform-origin: 50% 25%;

      &.animating {
        transform: scaleX(1) scaleY(0.9) rotate(-3deg);
      }
    }

    &#Anim-TomHigh {
      transform: scaleX(1) scaleY(1) rotate(0deg);
      transform-origin: 50% 25%;

      &.animating {
        transform: scaleX(1) scaleY(0.9) rotate(3deg);
      }
    }

    &#Anim-TomFloor {
      transform-origin: 25% 75%;
      transform: scaleX(1) scaleY(1);

      &.animating {
        transform: scaleX(1.05) scaleY(0.9);
      }
    }

    &#Anim-HiHat {
      transition: transform cubic-bezier(0.57, 3.79, 0.46, 0.15) 0.2s;
      transform-origin: 85% 35%;
      transform: rotate(0deg);

      &.animating {
        transform: rotate(-5deg);
      }
    }

    &#Anim-Ride {
      transition: transform cubic-bezier(0.28, 4.5, 0.85, -0.96) 0.3s;
      transform-origin: 22% 10%;
      transform: rotate(0deg);

      &.animating {
        transform: rotate(5deg);
      }
    }

    &#Anim-Kick {
      transform-origin: 50% 100%;
      transform: scaleX(1) scaleY(1);

      &.animating {
        transform: scaleX(1.1) scaleY(0.98);
      }
    }

    &#Anim-Snare {
      transform-origin: 75% 55%;
      transform: scaleX(1) scaleY(1);

      &.animating {
        transform: scaleX(1.1) scaleY(0.9);
      }
    }
  }
}

.sequencer-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  span.sequencer-key {
    color: black;
    font-family: monospace;
    border: 1px solid black;
    border-radius: 23%;
    width: 2.1rem;
    height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
    opacity: 0.6;
  }

  .sequencer-img {
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    margin-right: .5rem;
    border: 1px solid rgba(250, 250, 250, 0.5);
  }
}

.sequencer-btn {
  background: rgba(0, 0, 0, 0.5);
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 0.5rem;
  margin-left: .2rem;
  border: 1px solid rgba(250, 250, 250, 0.5);
  position: relative;
  cursor: pointer;
  transition: transform 0.2s background 0.2s;
  transform: scale(1);

  &:hover {
    transition: transform 0.2s;
    transform: scale(1.05);
  }

  &.active {
    transition: background 0.2s;
    background: rgba(39, 150, 5, 0.3);
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.2s;
  }

  &.glowing::after {
    border: 1px solid gold;
    border-radius: 0.5rem;
  }
}



.drum-project-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(140, 140, 200, 0.2);

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;

    .DrumKit-outer {
      margin-top: -10rem;
      z-index: -1;
    }
  }


}

.sequencer-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0 0 1rem;
  width: fit-content;
  height: fit-content;
  flex-shrink: 0;
}

// Sequencer options
.sequencer-options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 0 0;

  // Play button
  .play-button {
    background-color: rgba(250, 250, 250, 0.5);
    color: white;
    cursor: pointer;
    width: 4rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: unset;
    border: unset;
    margin-right: 2rem;

    &:hover {
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .play-button-img {
      width: 2rem;
      height: 2rem;
      object-position: center;
      object-fit: contain;
    }
  }

  // Bpm changer
  .bpm-options {
    display: flex;
    align-items: center;

    button {
      border-radius: 0.5rem;
      width: 3rem;
      height: 3rem;
      background-color: rgba(250, 250, 250, 0.5);
      box-shadow: unset;
      border: unset;
      color: black;
      font-size: 2.2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 3rem;
      cursor: pointer;

      &:hover {
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      }
    }

    span {
      font-size: 1.6rem;
      font-weight: bold;
      margin: 0 0.2rem;

      &::after {
        content: 'BPM';
        margin: 0 0.1rem;
        font-size: 1rem;
      }
    }
  }
}